/config/Migrations/*
/vendor/*
/tmp/*
/logs/*
/webroot/img/*
/webroot/emojione/*
/webroot/jquery_ui/*
/webroot/test.php
/webroot/uploadifive/*

# Environment variable definitions
/config/.env
/config/.env.production
/config/.env.dev

# PhpStorm
/.idea/*
