/vendor/*
/config/.env
/config/.env.default
/tmp/*
/logs/*
/webroot/img/*
/webroot/emojione/*

# Environment variable definitions
/config/.env
/config/.env.production
/config/.env.dev

# PhpStorm
/.idea/*
